<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
        <div class="sidebar-brand-icon">
            <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}">
        </div>
        <div class="sidebar-brand-text mx-3">SMK Negeri 1 Sentani</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dasbor</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Data Siswa
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('biodata')}}">
            <i class="fas fa-user"></i>
            <span>Biodata</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="ui-colors.html">
            <i class="fas fa-graduation-cap"></i>
            <span>Pendidikan</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="ui-colors.html">
            <i class="fas fa-award"></i>
            <span>Prestasi</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="ui-colors.html">
            <i class="fas fa-user-circle"></i>
            <span>Orang Tua</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="ui-colors.html">
            <i class="fas fa-file"></i>
            <span>Unggah Dokumen</span>
        </a>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
</ul>
<!-- Sidebar -->