<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    {% if current_user.email == "admin@ppdb.smkn1sentani.sch.id" %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('dashboard')}}">
        <div class="sidebar-brand-icon">
            <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}">
        </div>
        <div class="sidebar-brand-text mx-3">SMK Negeri 1 Sentani</div>
    </a>
    {% else %}
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('home')}}">
        <div class="sidebar-brand-icon">
            <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}">
        </div>
        <div class="sidebar-brand-text mx-3">SMK Negeri 1 Sentani</div>
    </a>
    {% endif %}
    <hr class="sidebar-divider my-0">
    {% if current_user.email == "admin@ppdb.smkn1sentani.sch.id" %}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('dashboard')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    {% else %}
    <li class="nav-item active">
        <a class="nav-link" href="{{url_for('home')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    {% endif %}
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Data Siswa
    </div>
    <li class="nav-item">
        {% if current_user.biodata != [] %}
            {% for user in current_user.biodata %}
            <a class="nav-link" href="{{url_for('biodata', id=user.id)}}">
                <i class="fas fa-user"></i>
                <span>Biodata</span>
                <i class="fas fa-check text-success"></i>
            </a>
            {% endfor %}
        {% elif current_user.email == "admin@ppdb.smkn1sentani.sch.id" %}
        <a class="nav-link" href="{{url_for('siswa_biodata')}}">
            <i class="fas fa-user"></i>
            <span>Data siswa</span>
        </a>
        {% else %}
        <a class="nav-link" href="{{url_for('lengkapi_biodata')}}">
            <i class="fas fa-user"></i>
            <span>Biodata</span>
            <i class="fas fa-times text-danger"></i>
        </a>
        {% endif %}
    </li>

    <!-- =================== -->

    <li class="nav-item">
        {% if current_user.orangtua != [] %}
            {% for user in current_user.biodata %}
            <a class="nav-link" href="{{url_for('orangtua', id=user.id)}}">
                <i class="fas fa-user"></i>
                <span>Orang Tua</span>
                <i class="fas fa-check text-success"></i>
            </a>
            {% endfor %}
        {% elif current_user.email == "admin@ppdb.smkn1sentani.sch.id" %}
        <a class="nav-link" href="{{url_for('orangtua_biodata')}}">
            <i class="fas fa-user-friends"></i>
            <span>Data Orangtua</span>
        </a>
        {% else %}
        <a class="nav-link" href="{{ url_for ('lengkapi_orangtua')}}">
            <i class="fas fa-user-circle"></i>
            <span>Orang Tua</span>
            <i class="fas fa-times text-danger"></i>
        </a>
        {% endif %}
        
    </li>
    <li class="nav-item">
        {% if current_user.email == "admin@ppdb.smkn1sentani.sch.id" %}
        <a class="nav-link" href="{{url_for('akun_pengguna')}}">
            <i class="fas fa-users"></i>
            <span>Akun Pengguna</span>
        </a>
        {% endif %}
    </li>
    <hr class="sidebar-divider mt-5">
    <div class="version" id="version-ruangadmin"></div>
</ul>
<!-- Sidebar -->