{% extends 'layout.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
    type="text/css">
<link href="{{ url_for('static', filename='css/ruang-admin.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row mb-3">
    <!-- Dasbor -->
    <div class="col-xl-12 col-lg-12">
        <div class="card mb-4 pt-4 pb-5">
            <div class="d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}" width="150px" class="mb-4" alt="">
            </div> 
            <div class="text-center mb-5">
                <h2>Selamat Datang</h2>
                <h4>PPDB SMK Negeri 1 Sentani</h4>
            </div>
            <h6 class="text-center">Jl.Sekolah No.1 Desa Nendali, Kab. Jayapura. Provinsi PAPUA</h6>
            <hr>
            <h6 class="text-center"><a href="https://smkn1sentani.sch.id" target="_blank">https://smkn1sentani.sch.id</a></h6>
        </div>
    </div>
</div>
<!--Row-->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ruang-admin.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
{% endblock %}