{% extends 'layout.html' %}

{% block styles %}
<link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
    type="text/css">
<link href="{{ url_for('static', filename='css/ruang-admin.min.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dasbor</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Dasbor</li>
    </ol>
</div>

<div class="row mb-3">
    <!-- Dasbor -->
    <div class="col-xl-12 col-lg-12">
        <div class="card mb-4 pt-4 pb-5">
            <div class="d-flex justify-content-center">
                <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}" width="150px" class="mb-4" alt="">
            </div> 
            <div class="text-center mb-5">
                <h2>Selamat Datang</h2>
                <h4>PPDB SMK Negeri 1 Sentani</h4>
            </div>
            <h6 class="text-center">Jl.Sekolah No.1 Desa Nendali, Kab. Jayapura. Provinsi PAPUA</h6>
            <hr>
        </div>
    </div>
</div>
<!--Row-->

<!-- Modal Logout -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelLogout">Peringatan!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin keluar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Batal</button>
                <a href="{{ url_for('logout') }}" class="btn btn-primary">Keluar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ruang-admin.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/demo/chart-area-demo.js') }}"></script>
{% endblock %}