<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{{ url_for('static', filename='img/logo/logo.png') }}" rel="icon">
  <title>RuangAdmin - Login</title>
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/ruang-admin.min.css') }}" rel="stylesheet">

</head>

<body class="bg-gradient-login">
  <!-- Login Content -->
  <div class="container-login">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <img src="{{ url_for('static', filename='img/logo/logo_smkn1sentani.png') }}" width="150px" class="mb-2" alt="">
                    <h1 class="h4 text-gray-900 mb-4">Masuk</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="text-{{ category }}">
                          <b>{{ message|safe }}</b>
                        </div>
                      {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <br>
                  </div>
                  <form class="user" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {% if form.email.errors %}
                        {{ form.email(class='form-control is-invalid input_user', id='exampleInputEmail', placeholder='Masukan alamat email') }}
                        <div class="text-center invalid-feedback">
                            {% for error in form.email.errors %}
                            {{error}}
                            {% endfor %}
                        </div>
                      {% else %}
                          {{ form.email(class='form-control input_user', id='exampleInputEmail', placeholder='Masukan alamat email') }}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      {% if form.kata_sandi.errors %}
                        {{ form.kata_sandi(class='form-control is-invalid input_user', id='exampleInputPassword', placeholder='Masukan kata sandi') }}
                        <div class="text-center invalid-feedback">
                            {% for error in form.kata_sandi.errors %}
                            {{error}}
                            {% endfor %}
                        </div>
                      {% else %}
                          {{ form.kata_sandi(class='form-control input_user', id='exampleInputPassword', placeholder='Masukan kata sandi') }}
                      {% endif %}
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small" style="line-height: 1.5rem;">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">
                          Simpan Kata Sandi.
                        </label>
                      </div>
                    </div>
                    <div class="form-group">
                      {{ form.masuk(class='btn btn-primary btn-block') }}
                    </div>
                    <hr>
                    <p class="text-center">SMK Negeri 1 Sentani</p>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="font-weight-bold small" href="{{url_for("register")}}">Belum punya akun?</a>
                  </div>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login Content -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/ruang-admin.min.js') }}"></script>
</body>

</html>